USE [HandicraftShop]
GO
/****** Object:  Table [dbo].[ACCOUNTS]    Script Date: 11/2/2025 8:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNTS](
	[AccountID] [nvarchar](20) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[PasswordRecoveryToken] [nvarchar](255) NULL,
	[TokenExpiry] [datetime2](7) NULL,
	[Avatar] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ARTICLE_IMAGES]    Script Date: 11/2/2025 8:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARTICLE_IMAGES](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ArticleID] [int] NULL,
	[ImageURL] [nvarchar](255) NULL,
	[IsMain] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ARTICLES]    Script Date: 11/2/2025 8:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARTICLES](
	[ArticleID] [int] IDENTITY(1,1) NOT NULL,
	[AuthorID] [nvarchar](20) NULL,
	[Title] [nvarchar](200) NULL,
	[Content] [nvarchar](max) NULL,
	[Category] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ArticleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CART]    Script Date: 11/2/2025 8:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CART](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CART_ITEMS]    Script Date: 11/2/2025 8:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CART_ITEMS](
	[CartItemID] [int] IDENTITY(1,1) NOT NULL,
	[CartID] [int] NULL,
	[ProductID] [nvarchar](20) NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIES]    Script Date: 11/2/2025 8:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIES](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
	[Status] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMERS]    Script Date: 11/2/2025 8:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMERS](
	[CustomerID] [nvarchar](20) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FEEDBACK_IMAGES]    Script Date: 11/2/2025 8:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEEDBACK_IMAGES](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[FeedbackID] [int] NULL,
	[ImageURL] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FEEDBACKS]    Script Date: 11/2/2025 8:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEEDBACKS](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [nvarchar](20) NULL,
	[ProductID] [nvarchar](20) NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_ITEMS]    Script Date: 11/2/2025 8:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_ITEMS](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [nvarchar](20) NULL,
	[ProductID] [nvarchar](20) NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[Discount] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 11/2/2025 8:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[OrderID] [nvarchar](20) NOT NULL,
	[CustomerID] [nvarchar](20) NULL,
	[StaffID] [nvarchar](20) NULL,
	[VoucherID] [int] NULL,
	[OrderDate] [datetime2](7) NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[PaymentStatus] [nvarchar](20) NULL,
	[ShippingStatus] [nvarchar](20) NULL,
	[ShippingAddress] [nvarchar](255) NULL,
	[Note] [nvarchar](255) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_IMAGES]    Script Date: 11/2/2025 8:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_IMAGES](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [nvarchar](20) NULL,
	[ImageURL] [nvarchar](255) NULL,
	[IsMain] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 11/2/2025 8:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[ProductID] [nvarchar](20) NOT NULL,
	[CategoryID] [int] NULL,
	[ProductName] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[Material] [nvarchar](100) NULL,
	[Price] [decimal](18, 2) NULL,
	[Discount] [decimal](5, 2) NULL,
	[StockQuantity] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 11/2/2025 8:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFFS]    Script Date: 11/2/2025 8:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFFS](
	[StaffID] [nvarchar](20) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[Phone] [nvarchar](20) NULL,
	[CitizenID] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[HireDate] [date] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ROLE]    Script Date: 11/2/2025 8:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ROLE](
	[AccountID] [nvarchar](20) NOT NULL,
	[RoleID] [int] NOT NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOUCHERS]    Script Date: 11/2/2025 8:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOUCHERS](
	[VoucherID] [int] IDENTITY(1,1) NOT NULL,
	[VoucherName] [nvarchar](100) NULL,
	[Code] [nvarchar](50) NULL,
	[Description] [nvarchar](255) NULL,
	[DiscountPercentage] [decimal](10, 2) NULL,
	[MaxReducing] [decimal](18, 2) NULL,
	[Quantity] [int] NULL,
	[UsageCount] [int] NULL,
	[ExpiryDate] [date] NULL,
	[IsActive] [bit] NULL,
	[MinOrderValue] [decimal](18, 2) NULL,
	[MaxUsagePerUser] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNTS] ([AccountID], [Username], [Email], [Password], [PasswordRecoveryToken], [TokenExpiry], [Avatar], [CreatedAt], [Status]) VALUES (N'CUS001', N'le.hoang', N'le.hoang@gmail.com', N'123456', NULL, NULL, NULL, CAST(N'2025-10-25T14:58:18.2083678' AS DateTime2), N'Active')
INSERT [dbo].[ACCOUNTS] ([AccountID], [Username], [Email], [Password], [PasswordRecoveryToken], [TokenExpiry], [Avatar], [CreatedAt], [Status]) VALUES (N'CUS002', N'pham.trang', N'pham.trang@gmail.com', N'123456', NULL, NULL, NULL, CAST(N'2025-10-25T14:58:18.2083678' AS DateTime2), N'Active')
INSERT [dbo].[ACCOUNTS] ([AccountID], [Username], [Email], [Password], [PasswordRecoveryToken], [TokenExpiry], [Avatar], [CreatedAt], [Status]) VALUES (N'CUS003', N'tran.nam', N'tran.nam@gmail.com', N'123456', NULL, NULL, NULL, CAST(N'2025-10-25T14:58:18.2083678' AS DateTime2), N'Active')
GO
SET IDENTITY_INSERT [dbo].[CATEGORIES] ON 

INSERT [dbo].[CATEGORIES] ([CategoryID], [CategoryName], [Description], [Status]) VALUES (1, N'Sản phẩm làm từ lục bình', N'Đồ thủ công đan lát từ thân cây lục bình, thân thiện với môi trường.', N'Active')
INSERT [dbo].[CATEGORIES] ([CategoryID], [CategoryName], [Description], [Status]) VALUES (2, N'Sản phẩm làm từ bã mía', N'Vật dụng và đồ trang trí tái chế từ bã mía ép.', N'Active')
INSERT [dbo].[CATEGORIES] ([CategoryID], [CategoryName], [Description], [Status]) VALUES (3, N'Sản phẩm làm từ sợi chuối', N'Hàng dệt, túi xách và phụ kiện làm từ sợi chuối tự nhiên.', N'Active')
SET IDENTITY_INSERT [dbo].[CATEGORIES] OFF
GO
INSERT [dbo].[CUSTOMERS] ([CustomerID], [FullName], [DateOfBirth], [Gender], [Phone], [Address], [Status]) VALUES (N'CUS001', N'Lê Hoàng', CAST(N'1995-01-15' AS Date), N'Male', N'0901111111', N'Hà N?i', N'Active')
INSERT [dbo].[CUSTOMERS] ([CustomerID], [FullName], [DateOfBirth], [Gender], [Phone], [Address], [Status]) VALUES (N'CUS002', N'Ph?m Trang', CAST(N'1996-02-20' AS Date), N'Female', N'0902222222', N'Hà N?i', N'Active')
INSERT [dbo].[CUSTOMERS] ([CustomerID], [FullName], [DateOfBirth], [Gender], [Phone], [Address], [Status]) VALUES (N'CUS003', N'Tr?n Nam', CAST(N'1993-03-18' AS Date), N'Male', N'0903333333', N'Ðà N?ng', N'Active')
GO
SET IDENTITY_INSERT [dbo].[ORDER_ITEMS] ON 

INSERT [dbo].[ORDER_ITEMS] ([OrderItemID], [OrderID], [ProductID], [Quantity], [UnitPrice], [Discount]) VALUES (1, N'ORD24001', N'DU08', 3, CAST(55.00 AS Decimal(18, 2)), CAST(13.00 AS Decimal(5, 2)))
INSERT [dbo].[ORDER_ITEMS] ([OrderItemID], [OrderID], [ProductID], [Quantity], [UnitPrice], [Discount]) VALUES (2, N'ORD24001', N'SC01', 3, CAST(169.00 AS Decimal(18, 2)), CAST(9.00 AS Decimal(5, 2)))
INSERT [dbo].[ORDER_ITEMS] ([OrderItemID], [OrderID], [ProductID], [Quantity], [UnitPrice], [Discount]) VALUES (3, N'ORD24001', N'SC08', 1, CAST(62.00 AS Decimal(18, 2)), CAST(8.00 AS Decimal(5, 2)))
GO
SET IDENTITY_INSERT [dbo].[ORDER_ITEMS] OFF
GO
INSERT [dbo].[ORDERS] ([OrderID], [CustomerID], [StaffID], [VoucherID], [OrderDate], [TotalAmount], [PaymentMethod], [PaymentStatus], [ShippingStatus], [ShippingAddress], [Note], [UpdatedAt]) VALUES (N'ORD24001', N'CUS011', N'STF006', NULL, CAST(N'2024-09-15T00:00:00.0000000' AS DateTime2), CAST(1299.78 AS Decimal(18, 2)), N'Cash', N'Paid', N'Delivered', N'Danang', N'Auto-generated order', CAST(N'2025-10-25T15:18:10.7504003' AS DateTime2))
INSERT [dbo].[ORDERS] ([OrderID], [CustomerID], [StaffID], [VoucherID], [OrderDate], [TotalAmount], [PaymentMethod], [PaymentStatus], [ShippingStatus], [ShippingAddress], [Note], [UpdatedAt]) VALUES (N'ORD24002', N'CUS011', NULL, NULL, CAST(N'2024-10-28T00:00:00.0000000' AS DateTime2), CAST(767.52 AS Decimal(18, 2)), N'Bank Transfer', N'Paid', N'Pending', N'HCM City', N'Auto-generated order', CAST(N'2025-10-25T15:18:10.7579910' AS DateTime2))
INSERT [dbo].[ORDERS] ([OrderID], [CustomerID], [StaffID], [VoucherID], [OrderDate], [TotalAmount], [PaymentMethod], [PaymentStatus], [ShippingStatus], [ShippingAddress], [Note], [UpdatedAt]) VALUES (N'ORD24003', N'CUS007', N'STF001', NULL, CAST(N'2024-12-02T00:00:00.0000000' AS DateTime2), CAST(911.88 AS Decimal(18, 2)), N'Momo', N'Paid', N'Approved', N'Hue', N'Auto-generated order', CAST(N'2025-10-26T15:12:08.0294242' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[PRODUCT_IMAGES] ON 

INSERT [dbo].[PRODUCT_IMAGES] ([ImageID], [ProductID], [ImageURL], [IsMain]) VALUES (1, N'BM01', N'coc_ba_mia_sinh_hoc_1.jpg', 0)
INSERT [dbo].[PRODUCT_IMAGES] ([ImageID], [ProductID], [ImageURL], [IsMain]) VALUES (2, N'BM01', N'coc_ba_mia_sinh_hoc_2.jpg', 0)
INSERT [dbo].[PRODUCT_IMAGES] ([ImageID], [ProductID], [ImageURL], [IsMain]) VALUES (3, N'BM01', N'coc_ba_mia_sinh_hoc_3.jpg', 0)
GO
SET IDENTITY_INSERT [dbo].[PRODUCT_IMAGES] OFF
GO
INSERT [dbo].[PRODUCTS] ([ProductID], [CategoryID], [ProductName], [Description], [Material], [Price], [Discount], [StockQuantity], [CreatedAt], [Status]) VALUES (N'BM01', 2, N'Cốc bã mía sinh học', N'Cốc phân hủy sinh học, an toàn cho sức khỏe.', N'Bã mía', CAST(8000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), 500, CAST(N'2025-10-21T23:10:37.7254694' AS DateTime2), N'Active')
INSERT [dbo].[PRODUCTS] ([ProductID], [CategoryID], [ProductName], [Description], [Material], [Price], [Discount], [StockQuantity], [CreatedAt], [Status]) VALUES (N'BM02', 2, N'Đĩa bã mía tròn', N'Đĩa thân thiện môi trường dùng 1 lần.', N'Bã mía', CAST(5000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), 800, CAST(N'2025-10-21T23:10:37.7254694' AS DateTime2), N'Active')
INSERT [dbo].[PRODUCTS] ([ProductID], [CategoryID], [ProductName], [Description], [Material], [Price], [Discount], [StockQuantity], [CreatedAt], [Status]) VALUES (N'BM03', 2, N'Hộp cơm bã mía', N'Hộp 3 ngăn, tiện lợi mang đi.', N'Bã mía', CAST(12000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), 300, CAST(N'2025-10-21T23:10:37.7254694' AS DateTime2), N'Active')
GO
SET IDENTITY_INSERT [dbo].[ROLES] ON 

INSERT [dbo].[ROLES] ([RoleID], [RoleName], [Description]) VALUES (1, N'Admin', N'System Administrator')
INSERT [dbo].[ROLES] ([RoleID], [RoleName], [Description]) VALUES (2, N'Employee', N'Employee of store')
INSERT [dbo].[ROLES] ([RoleID], [RoleName], [Description]) VALUES (3, N'Customer', N'Registered Customer')
SET IDENTITY_INSERT [dbo].[ROLES] OFF
GO
INSERT [dbo].[STAFFS] ([StaffID], [FullName], [DateOfBirth], [Gender], [Phone], [CitizenID], [Address], [HireDate], [Status]) VALUES (N'STF001', N'Tr?n Minh Khánh', CAST(N'1998-04-12' AS Date), N'Male', N'0912345678', N'012345678901', N'Hà N?i', CAST(N'2022-01-05' AS Date), N'Active')
INSERT [dbo].[STAFFS] ([StaffID], [FullName], [DateOfBirth], [Gender], [Phone], [CitizenID], [Address], [HireDate], [Status]) VALUES (N'STF002', N'Nguy?n Thanh Hào', CAST(N'1999-07-25' AS Date), N'Male', N'0987654321', N'012345678902', N'TP. H? Chí Minh', CAST(N'2022-03-18' AS Date), N'Active')
INSERT [dbo].[STAFFS] ([StaffID], [FullName], [DateOfBirth], [Gender], [Phone], [CitizenID], [Address], [HireDate], [Status]) VALUES (N'STF003', N'Ph?m Minh Anh', CAST(N'1997-12-08' AS Date), N'Female', N'0901234567', N'012345678903', N'Ðà N?ng', CAST(N'2021-11-10' AS Date), N'Active')
GO
INSERT [dbo].[USER_ROLE] ([AccountID], [RoleID], [Status]) VALUES (N'CUS001', 3, N'Active')
INSERT [dbo].[USER_ROLE] ([AccountID], [RoleID], [Status]) VALUES (N'CUS002', 3, N'Active')
INSERT [dbo].[USER_ROLE] ([AccountID], [RoleID], [Status]) VALUES (N'CUS003', 3, N'Active')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ACCOUNTS__536C85E486F5AB51]    Script Date: 11/2/2025 8:14:17 PM ******/
ALTER TABLE [dbo].[ACCOUNTS] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ROLES__8A2B61607D2F718A]    Script Date: 11/2/2025 8:14:17 PM ******/
ALTER TABLE [dbo].[ROLES] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__VOUCHERS__91A6F6294AAA9266]    Script Date: 11/2/2025 8:14:17 PM ******/
ALTER TABLE [dbo].[VOUCHERS] ADD UNIQUE NONCLUSTERED 
(
	[VoucherName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNTS] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ACCOUNTS] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[ARTICLE_IMAGES] ADD  DEFAULT ((0)) FOR [IsMain]
GO
ALTER TABLE [dbo].[ARTICLES] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ARTICLES] ADD  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[CART] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CART] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[CUSTOMERS] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[FEEDBACKS] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT (sysdatetime()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT ('Pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT ('Pending') FOR [ShippingStatus]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[PRODUCT_IMAGES] ADD  DEFAULT ((0)) FOR [IsMain]
GO
ALTER TABLE [dbo].[PRODUCTS] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[STAFFS] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[USER_ROLE] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[VOUCHERS] ADD  DEFAULT ((0)) FOR [UsageCount]
GO
ALTER TABLE [dbo].[VOUCHERS] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ARTICLE_IMAGES]  WITH CHECK ADD FOREIGN KEY([ArticleID])
REFERENCES [dbo].[ARTICLES] ([ArticleID])
GO
ALTER TABLE [dbo].[ARTICLES]  WITH CHECK ADD FOREIGN KEY([AuthorID])
REFERENCES [dbo].[STAFFS] ([StaffID])
GO
ALTER TABLE [dbo].[CART]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMERS] ([CustomerID])
GO
ALTER TABLE [dbo].[CART_ITEMS]  WITH CHECK ADD FOREIGN KEY([CartID])
REFERENCES [dbo].[CART] ([CartID])
GO
ALTER TABLE [dbo].[CART_ITEMS]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[PRODUCTS] ([ProductID])
GO
ALTER TABLE [dbo].[CUSTOMERS]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[ACCOUNTS] ([AccountID])
GO
ALTER TABLE [dbo].[FEEDBACK_IMAGES]  WITH CHECK ADD FOREIGN KEY([FeedbackID])
REFERENCES [dbo].[FEEDBACKS] ([FeedbackID])
GO
ALTER TABLE [dbo].[FEEDBACKS]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMERS] ([CustomerID])
GO
ALTER TABLE [dbo].[FEEDBACKS]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[PRODUCTS] ([ProductID])
GO
ALTER TABLE [dbo].[ORDER_ITEMS]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[ORDERS] ([OrderID])
GO
ALTER TABLE [dbo].[ORDER_ITEMS]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[PRODUCTS] ([ProductID])
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMERS] ([CustomerID])
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD FOREIGN KEY([StaffID])
REFERENCES [dbo].[STAFFS] ([StaffID])
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD FOREIGN KEY([VoucherID])
REFERENCES [dbo].[VOUCHERS] ([VoucherID])
GO
ALTER TABLE [dbo].[PRODUCT_IMAGES]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[PRODUCTS] ([ProductID])
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTS_Catego_4E88ABD4] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[CATEGORIES] ([CategoryID])
GO
ALTER TABLE [dbo].[PRODUCTS] CHECK CONSTRAINT [FK_PRODUCTS_Catego_4E88ABD4]
GO
ALTER TABLE [dbo].[STAFFS]  WITH CHECK ADD FOREIGN KEY([StaffID])
REFERENCES [dbo].[ACCOUNTS] ([AccountID])
GO
ALTER TABLE [dbo].[USER_ROLE]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[ACCOUNTS] ([AccountID])
GO
ALTER TABLE [dbo].[USER_ROLE]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[ROLES] ([RoleID])
GO
