@{
	ViewData["Title"] = "Login/Register Page";
	Layout = "~/Views/Shared/_LayoutWithoutMenu.cshtml";
}
@model AuthViewModel
<!-- Page Title -->
<div class="page-title light-background">
	<div class="container d-lg-flex justify-content-center align-items-center">
		<h1 class="mb-2 mb-lg-0">Welcome to Handicraft Shop</h1>
	</div>
</div><!-- End Page Title -->
<!-- Login Register Section -->
<section id="login-register" class="login-register section">

	<div class="container" data-aos="fade-up" data-aos-delay="100">

		<div class="row justify-content-center">
			<div class="col-lg-5">
				<div class="login-register-wraper">

					<!-- Tab Navigation -->
					<ul class="nav nav-tabs nav-tabs-bordered justify-content-center mb-4" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#login-register-login-form" type="button" role="tab" aria-selected="true">
								<i class="bi bi-box-arrow-in-right me-1"></i>Login
							</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" data-bs-toggle="tab" data-bs-target="#login-register-registration-form" type="button" role="tab" aria-selected="false">
								<i class="bi bi-person-plus me-1"></i>Register
							</button>
						</li>
					</ul>

					<!-- Tab Content -->
					<div class="tab-content">

						<!-- Login Form -->
						<div class="tab-pane fade show active" id="login-register-login-form" role="tabpanel">
							<form method="post" asp-action="Login" asp-controller="Auth">
								<div class="mb-4">
									<label for="login-register-login-email" class="form-label">Email address</label>
									<input type="email" class="form-control" asp-for="Login.Email" id="login-register-login-email" required="">
									<span asp-validation-for="Login.Email" class="text-danger"></span>
								</div>

								<div class="mb-4">
									<label for="login-register-login-password" class="form-label">Password</label>
									<input type="password" class="form-control" asp-for="Login.Password" id="login-register-login-password" required="">
									<span asp-validation-for="Login.Password" class="text-danger"></span>
								</div>

								@* <div class="d-flex justify-content-between align-items-center mb-4">
									<div class="form-check">
										<input type="checkbox" class="form-check-input" id="login-register-remember-me">
										<label class="form-check-label" for="login-register-remember-me">Remember me</label>
									</div>
									<a href="#" class="forgot-password">Forgot Password?</a>
								</div> *@

								@if (ViewBag.Error != null)
								{
									<div class="alert alert-danger">@ViewBag.Error</div>
								}

								<div class="d-grid">
									<button type="submit" class="btn btn-primary btn-lg">Login</button>
								</div>
							</form>
						</div>

						<!-- Registration Form -->
						<div class="tab-pane fade" id="login-register-registration-form" role="tabpanel">
							<form asp-action="Register" asp-controller="Auth" method="post">
								<div class="row g-3">
									<div class="col-sm-12">
										<div class="mb-4">
											<label for="login-register-reg-firstname" class="form-label">Username</label>
											<input type="text" asp-for="Register.Username" class="form-control" id="login-register-reg-firstname" required="">
											<span asp-validation-for="Register.Username" class="text-danger"></span>
										</div>
									</div>

									<div class="col-sm-12">
										<div class="mb-4">
											<label for="login-register-reg-firstname" class="form-label">Full Name</label>
											<input type="text" asp-for="Register.FullName" class="form-control" id="login-register-reg-firstname" required="">
											<span asp-validation-for="Register.FullName" class="text-danger"></span>
										</div>
									</div>

									<div class="col-sm-12">
										<div class="mb-4">
											<label for="login-register-reg-firstname" class="form-label">Date of birth</label>
											<input type="date" asp-for="Register.DateOfBirth" class="form-control" id="login-register-reg-firstname" required="">
											<span asp-validation-for="Register.DateOfBirth" class="text-danger"></span>
										</div>
									</div>

									<div class="col-sm-12">
										<div class="mb-4">
											<label for="login-register-reg-firstname" class="form-label">Gender</label>
											<select asp-for="Register.Gender" class="form-control">
												<option>Male</option>
												<option>Female</option>
												<option>Other</option>
											</select>
											<span asp-validation-for="Register.Gender" class="text-danger"></span>
										</div>
									</div>

									<div class="col-sm-12">
										<div class="mb-4">
											<label for="login-register-reg-firstname" class="form-label">Address</label>
											<input type="text" asp-for="Register.Address" class="form-control" id="login-register-reg-firstname" required="">
											<span asp-validation-for="Register.Address" class="text-danger"></span>
										</div>
									</div>

									<div class="col-12">
										<div class="mb-4">
											<label for="login-register-reg-email" class="form-label">Email address</label>
											<input type="email" asp-for="Register.Email" class="form-control" id="login-register-reg-email" required="">
											<span asp-validation-for="Register.Email" class="text-danger"></span>
										</div>
									</div>

									<div class="col-sm-12">
										<div class="mb-4">
											<label for="login-register-reg-firstname" class="form-label">Phone</label>
											<input type="text" asp-for="Register.Phone" class="form-control" id="login-register-reg-firstname" required="">
											<span asp-validation-for="Register.Phone" class="text-danger"></span>
										</div>
									</div>

									<div class="col-12">
										<div class="mb-4">
											<label for="login-register-reg-password" class="form-label">Password</label>
											<input type="password" asp-for="Register.Password" class="form-control" id="login-register-reg-password" required="">
											<span asp-validation-for="Register.Password" class="text-danger"></span>
										</div>
									</div>

									<div class="col-12">
										<div class="mb-4">
											<label for="login-register-reg-confirm-password" class="form-label">Confirm password</label>
											<input type="password" asp-for="Register.ConfirmPassword" class="form-control" id="login-register-reg-confirm-password" required="">
											<span asp-validation-for="Register.ConfirmPassword" class="text-danger"></span>
										</div>
									</div>

									@* <div class="col-12">
										<div class="form-check">
											<input type="checkbox" class="form-check-input" id="login-register-terms" required="">
											<label class="form-check-label" for="login-register-terms">
												I agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>
											</label>
										</div>
									</div> *@

									<div class="col-12">
										<div class="d-grid">
											<button type="submit" class="btn btn-primary btn-lg">Create Account</button>
										</div>
									</div>
								</div>
							</form>
						</div>

					</div>

				</div>
			</div>
		</div>

	</div>

</section><!-- /Login Register Section -->